*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font: 24px sans-serif;
}

.hlavicka {
  padding: 10px;
  border: 1px solid silver;
}

.logo {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  margin: 2px;
  list-style-type: none;
  padding: 2px;
}

li {
  margin: 2px;
  text-align: center;
}

a {
  text-decoration: none;
  background-color: #f0f0f0;
  color: #e74c3c;
  display: block;
  padding: 10px 20px;
}

a:hover {
  background-color: #e74c3c;
  color: white;
}

/* ---------------------------------------------------- */

/*
	Nakóduj stránku podle obrázku zadani-ukolu.jpg.
	Rozložení stránky se mění v breakpointech:
	- 640px
	- 1000px
*/

@media (min-width: 640px) {
  .menu ul {
    display: flex;
  }
  .menu ul li {
    width: 25%;
  }
}

@media (min-width: 1000px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .logo {
    margin-bottom: 0;
  }
}
